<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Blackjack Game</title> -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/application.css">
  </head>

  <body>
    <!-- <div class="navbar navbar-fixed-top"> -->
      <!-- <div class="container"> -->
        <!-- <ul class="nav nav-bar nav"> -->
          <!-- <li class="active"> -->
            <!-- New Game -->
          <!-- </li> -->
        <!-- </ul> -->
      <!-- </div> -->
    <!-- </div> -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- // <script src="/public/javascript/application.js"></script> -->
  <script src="/vendor/jquery-2.1.1.js"></script>
  <script src="/vendor/bootstrap-3.2.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
